body{
    font-family: 'Comic Sans MS', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.lighttheme{
    background-color: rgb(240, 240, 240);
    color:black
}

.darktheme{
    background-color: rgb(56, 56, 56);
    color:rgb(211, 211, 211);
}

div.question-state{
    position:relative;
    left: 35%;
    top: 80px;
    width: 600px;
    margin:0px;
}

div.intro-state{
    position:relative;
    left: 35%;
    top: 80px;
    width: 600px;
    margin:0px;
}

div.quizresult-state{
    position:relative;
    left: 50%;
    top: 180px;
    width: 600px;
    margin:0px;
}

h2.questiontext{
    text-align: center;
    font-size: 40px;
}


div.answersbox{
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
    min-height: 200px;
    background-color: white;
    width:600px;
}

div.resultsbox{
    padding: 30px;
    border: 2px solid black;
    border-radius: 20px;
    min-height: 200px;
    background-color: white;
    width:800px;
    position: relative;
    left:-25%;
}

div.result-circle{
    width:100px;
    height:100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    padding:40px;
}

.result-circle > *{
    font-size: 40px;
    margin:auto;
}

.result-circle-normal{
    background-color: rgb(68, 132, 206);
}

.result-circle-orange{
    background-color:orange;
}

.result-circle-green{
    background-color:green;
}

p.errorMessage{
    color:rgb(48, 48, 48);
    font-size: 30px;
    margin:10px;
    text-align: center;
    height: 30px;
}

p.messageDisplay{
    color:black;
    font-size: 25px;
    margin: 5px;
    text-align: center;
    height: 20px;
}

ul.answersListStyle{
    list-style: none;
}

div.question-state{
    display: inline-block;
}

li.answerItem{
    font-size: 30px;
    background-color: rgb(233, 249, 255);
    margin:10px;
}

li.answerItem > input{
    width: 25px;
    height: 25px;
    position: relative;
}

.lighttheme li.answerItem{
    background-color: rgb(233, 233, 233);
}

.darktheme li.answerItem{
    background-color: rgb(110, 110, 110);
}

.lighttheme div.answersbox{
    background-color: rgb(255, 255, 255);
}

.darktheme div.answersbox{
    background-color: rgb(133, 133, 133);
}

.darktheme p{
    color:rgb(233, 233, 233);
}

input.greenButton{
    background-color: rgb(4, 214, 109);
    border:1px solid black;
    margin:20px;
    padding:10px 15px;
    font-size: 20px;
    border-radius: 15px;
    position:relative;
    left:40%;
}

input.greenButton:hover{
    background-color: springgreen;
}

input.greenButton:disabled{
    background-color: rgb(182, 182, 182);
}

input.greenButton:active{
    background-color: rgb(217, 255, 236);
}

input.greenButton:disabled{
    background-color: rgb(214, 214, 214);
}

.retryBtn-style{
    background:url("/img/retry-button.png") no-repeat;
    width:75px;
    height:75px;
    margin:20px;
    border:none;
    float:right;
}

.settingsBtn-style{
    background:url("/img/retry-button.png") no-repeat;
    width:75px;
    height:75px;
    margin:20px;
    border:none;
    float:right;
}

div.button-menu{
    position:relative;

}

.dropdown{
    float:right;
}

.dropdown-rollover{
    display:none;
    position:absolute;
    background-color: rgb(245, 245, 245);
    min-width: 150px;
    z-index:1;
    right:10px;
    top:110px;
}

.dropdown-item{
    border:none;
    padding: 5px 10px;
    background-color: rgb(245, 245, 245);
    font-size: 20px;
    display:block;
    min-width: 150px;
}

.dropdown-item:hover{
    background-color: rgb(209, 209, 209);
}

.dropdown:hover .dropdown-rollover{
    display:block;
}